@font-face {
  font-family: 'TT Lakes Medium';
  src: url(../fonts/TTLakes-Medium.woff) format('woff');
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Light.woff') format('woff');
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
}

.container-wrapper{
  max-width: 1120px;
}

// HEADER
.header {
  padding-top: 42px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-family: 'TT Lakes Bold';
  font-size: 28px;
  line-height: 40px;
  color: #1B1C21;
  padding-left: 32px;
}

.header-title::before {
  content: '';
  border-left: 4px solid #41F6D7;
  height: 40px;
  margin-left: -39px;
  margin-right: 32px;
}

.header-services {
  display: inline-block;
}

.header-services__list {
  display: inline;
  list-style-type: none;
}

.services__link_icon_req::after {
  content: url(../img/repair.png);
  vertical-align: middle;
}

.services__link_icon_status::after {
  content: url(../img/checkstatus.png);
  vertical-align: middle;
}



.services__link_icon_req,
.services__link_icon_status {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C21;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 600;
}

.icon {
  background: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

// NAVBAR
.navbar {
  padding-left: 32px;
  padding-right: 25px;
  .navbar__nav {
    display: flex;
    width: 100%;
    list-style: none;
    white-space: nowrap;
    padding: 0;


    @media (min-width: 1024px) {
      flex-wrap: wrap;
    }

    @media (max-width: 768px) {
      overflow: scroll;
    }
  }
  &__item{
    margin-right: 10px;
    border: 2px solid transparent;
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link {
    color: #7E7E82;
    text-decoration: none;
    font-family: 'TT Lakes Medium', sans-serif;
  }
  &__item:hover {
    border: 2px solid #B8FFEC;
    padding: 8px;
    background: #FFFFFF;
    border-radius: 6px;
  }
}

//SECTION ABOUT
.section-about {
  display: flex;
  margin-left: 34px;
  margin-right: 28px;
  margin-top: 20px;
  width: 100%;
}
.section-about__text {
  font-family: 'TT Lakes Medium';
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #1B1C21;
  max-width: 50%;
  padding-right: 20px;
  padding-left: 32px;

  p {
    margin: 0;
  }
}

.section-about__text .section-about__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1B1C21;
  font-weight: normal;
}


.btn__show_text::before {
  content: "";
  background: url(../img/close-icon.svg) no-repeat center;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50px;
}

.btn__close_text::before {
  content: "";
  background: url(../img/expand.svg) no-repeat center;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 50px;
}

.section-about__photo__img {
  width: 90%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.hidden {
  display: none;
}